@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  @apply bg-gray-50 dark:bg-gray-900;
}

::selection {
  background: #6366f1;
  /* Indigo 500 */
  color: white;
}


a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}